
.pagination-active-btn {
    background-color: var(--dark-green) !important;
    color: white;
}

.pagination-container {
    margin: 25px 0;
}

.pagination-container button {
    background-color: var(--light-grey);
    border: none;
    font-family: proxima-nova-r;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px 0 0;
    padding: 7px 14px;
}

.pagination-container button:hover {
    font-family: proxima-nova-b !important;
    background-color: var(--dark-green) !important;
    color: white;
}

.pagination-container button:not(:first-child) {
    margin-left: 5px;
}

.pagination-results {
    margin-left: 10px;
    margin-top: 20px;
}