.search-result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-result-card img {
    width: 80%;
}

.search-result-card span {
    margin: 3px 0;
}
