.form-container {
    /* height: 100vh; */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo img {
    width: 40%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container button{
    font-family: archivo-black;
    font-size: 25px;   
    width: 60%;
    margin: 15px 0;
    cursor: pointer;
}

.form-container input {
    font-family: archivo-black;
    font-size: 25px;   
    padding: 5px;
    width: 80%;
    margin: 15px 0;
}

.error-message {
    text-align: center;
    display: none;
    margin-bottom: 2rem;
    font-weight: bold;
}

.show {
    display: block;
}

.auth-btn {
    width: 100% !important;
    font-size: 15px !important;
    margin-top: 5px !important;
}

.btn-container {
    text-align: center;
}