.met-search-bar {
    display: flex;
    align-items: center;
}

.met-search-bar input {
    font-family: archivo-black;
    font-size: 20px;    
    width: 70%;
    height: 60%;
}

.met-search-input {
    margin-left: 15px;
}

.met-search-input div {
    margin-top: 15px;
}

.met-search {
    display: flex;
    align-items: center;
}

.met-search-text-container {
    padding-bottom: 15px;
}

.met-search-text {
    margin: 15px 17px;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: var(--dark-green);
}

.met-search-title img {
    width: 150px;
}

.met-search-bar-form {
    align-items: stretch;
    padding-left: 10px;
    padding-bottom: 10px;
}

.met-search-buttons button {
    height: 60%;
    margin-right: 5px;
    margin-bottom: 10px;
}


@media screen and (max-width: 800px) {
    
    .met-search-input {
        width: 75%;
    }

    .met-search-bar input {
        width: 100%;
    }

    .met-search-buttons {
        width: 100%;
    }
}


@media screen and (max-width: 1020px) and (min-width: 800px) {
    .met-search-bar {
        margin-top: 15px;
    }
}