.boards-index-container {
    padding: 15px;
}

.boards-index {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-evenly;
    justify-items: center;
}

@media screen and (max-width: 1200px) {
    .boards-index {
        grid-template-columns: repeat(1, 1fr);
    }
}