.rijks-search-bar-container img {
 width: 45%;
 margin-bottom: 20px;
}

.rijks-search-bar button {
    margin-right: 5px;
    margin-bottom: 0;
}

.rijks-search-bar input {
    margin-right: 5px;
    font-family: archivo-black;
    font-size: 20px;    
}

.rijks-search-text {
    margin: 15px 0;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: var(--dark-green);
}