.login-form-container {
    /* height: 100vh; */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo img {
    width: 40%;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container button{
    font-family: archivo-black;
    font-size: 25px;   
    width: 60%;
    margin: 15px 0;
    cursor: pointer;
}

.login-form-container input {
    font-family: archivo-black;
    font-size: 25px;   
    padding: 5px;
    width: 80%;
    margin: 15px 0;
}

.login-form-container .error-message {
    text-align: center;
}

.signup-btn {
    width: 100% !important;
    font-size: 20px !important;
}

.sign-up-container {
    text-align: center;
}