.board-detail {
    padding: 15px;
}

.board-detail-left {
    width: 25%;
    margin-right: 15px;
}

.board-detail-right {
    width: 100%;
}

.editBtns {
    font-size: 14px;
    text-decoration: underline;
}

.editBtns a {
    cursor: pointer;
}

.editBtns a:not(:last-child) {
    margin-right: 10px;
}

.buttons {
    margin-bottom: 15px;
}

.board-detail-info {
    align-items: left;
}

.board-detail-info div {
    margin-bottom: 15px;
}

.board-detail-title {
    font-family: archivo-black;
    font-size: 45px;
    cursor: pointer;
}

.board-detail-title:hover {
    color: var(--dark-green);
}

.board-detail-description {
    font-size: 18px;
}

.board-imgs-container {
    columns: 4 200px;
}

.board-detail-img-container {
    position: relative;
}

.board-detail-img-container button {
    position: absolute;
    right:0;
    cursor: pointer;
    background-color: var(--red);
    border: var(--red) 1px solid;
    color: white;
    padding: 10px;
}

.board-detail-img-container button:hover{
    color:var(--red);
    background-color: white;
}

.board-detail-img-container img {
    width: 100%;
}
