.board-form {
    justify-content: center;
    align-items: center;
}

.board-form div {
    width: 30%;
}

.board-form-name {
    font-family: archivo-black;
    font-size: 45px;    
}

.board-form-description {
    font-family: proxima-nova-r;
}

.board-form input {
    border: none;
    padding: 5px 0;
    margin-bottom: 15px;
    width: 100%;
}

.delete-board-btn {
    margin-left: 6px;
}

.delete-board-btn:hover {
    background-color: var(--red);
    border: var(--red) 1px solid;
}