.board-form-name {
    font-family: archivo-black;
    font-size: 45px;    
}

.board-form-description {
    font-family: proxima-nova-r;
}

.board-form input {
    border: none;
    padding: 5px 0;
    margin-bottom: 15px;
    width: 100%;
}