@font-face {
    font-family: 'archivo-black';
    src: URL('./fonts/Archivo-Black.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-nova-r';
    src: URL('./fonts/Proxima-Nova-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-nova-b';
    src: URL('./fonts/Proxima-Nova-Bold.otf') format('opentype');
}

:root {
    --dark-green: #228B22;
    --red: #8B0000;
    --dark-grey: #4a4a4a;
    --light-grey: #f9f9f9;
    --pale-silver: #CFCFC4;
}


body { 
    margin: 0;
    background-color: var(--light-grey);
    font-family: proxima-nova-r;
}

.btn {
    font-family: proxima-nova-r;
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 12px;
    color:white;
    border: 1px var(--dark-grey) solid;
    background-color: var(--dark-grey);
    margin-bottom: 10px;
    cursor: pointer;
}

.btn2 {
    background-color: var(--light-grey);
    border: 1px var(--light-grey) solid ;
    color: #4a4a4a;
}

.btn:hover, .btn2:hover {
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
    color:white;
}

.bold {
    font-family: proxima-nova-b;
}

.flex-container {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    color: var(--dark-grey);
    background-color: #FFFFFF;
    height: 12vh;
}

.NavBar div {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-grey);
    cursor: pointer;
    background-color: transparent;
    border: none;
    /* font-size: calc(10px + 2vmin); */
}

.nav-link:hover {
    color: var(--dark-green);
}

.error-message {
    color: var(--red);
}

@media screen and (max-width: 520px) {
    .welcome {
        display: none !important;
    }

    .NavBar {
        font-size: 15px;
    }
}